.all {
  display: grid;
  
}

.container {
  align-self: center;
  justify-self: center;
  width: 700px;
  
}

.list-group-item {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
